body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    display: none;
}

h1 {
    font-size: 3.5rem;
    color: #002344;
    text-align: center;
}

h3 {
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
}

.neutralAlignment {
    text-align: center;
}

.card {
    text-align: center;
    margin: 30px;
    border: 2px solid #003363;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    display: inline-block;
    width: 30;
    box-sizing: border-box;
    background: white;
}

.multiplication {
    text-align: center;
    border-radius: 10px;
}

button {
    width: 100px;
    height: 50px;
    background-color: #002344;
    transition-duration: 0.4s;
    border-radius: 10px;
    color: white;
    border: transparent;
}

button:hover {
    cursor: pointer;
    background-color: #003363;
}

.container {
    display: flex;
    justify-content: center;
}

.infobox {
    text-align: center;
    margin: 30px;
    border: 2px solid rgb(219, 219, 219);
    width: 300px;
    height: 400px;
    display: inline-block;
    width: 30;
    box-sizing: border-box;
    background: white;
}

.wiki-header {
    color: black;
}

.wiki-img {
    margin: 20px;
}

.center {
    text-align: center;
}

p {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 1.5rem;
    color: #002344;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

a {
    color: #002344;
    transition-duration: 0.3s;
}

a:hover {
    color: #003363;
}

.right {
    float: right;
    padding: 0 10px 10px 0;
}

.left {
    float: left;
    padding: 0 10px 10px 0;
}

.hide {
    display: none;
}

.myDIV:hover+.hide {
    display: block;
    color: rgb(0, 0, 0);
}

.myDIV {
    color: rgb(211, 42, 42);
    transition-duration: 0.3s;
    text-decoration: underline;
}

.myDIV:hover {
    color: rgb(126, 24, 24);
    cursor: pointer;
}

.math-strats {
    font-size: 1.5rem;
    text-align: center;
}